*{
	padding:0px;
	margin:0px;
}

body{
	padding:0px;
	margin:0px;
	font:12px Arial "ו";
	text-align:center;
	-webkit-text-size-adjust:none;
}

*html body{
	margin-right:3px;
}

#container{
	height:960px;
	margin-left:auto;
	margin-right:auto;
}

#outer{
	width:320px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	margin-top:20px;
	background:#ccc;
	height:480px;
}

#logo{
	display:inline;
	width:40px;
	height:30px;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:14px;
	margin-right:-2px;
	float:left;
	background:url(../images/calculator.png) no-repeat center;
}

#header{
	width:100%;
	padding:0px;
	margin:0px;
	height:40px;
}

#header h3{
	margin:0px;
	font-size:18px;
	padding-top:6px;
	padding-bottom:6px;
	text-align:left;
	line-height:28px;
}

#inner{
	width:299px;
	margin-left:10px;
	margin-right:10px;
	height:430px;
	background:#D9E4F1;
}

#menu{
	width:100%;
	float:left;
	border-bottom:1px solid #ccc;
	height:39px;
	background:#D6DDEF;
}

#menu ul{
	margin:0px;
	margin-top:10px;
	padding:0px;
}

#menu li{
	list-style:none;
	width:60px;
	text-align:center;
	float:left;
	font-weight:bold;
}

#menu li a{
	text-decoration:none;
	color:black;
	font-size:19px;
}

#menu li a:hover{
	border:1px solid #ccc;
	padding-bottom:4px;
	padding-top:4px;
}

#content{
	width:100%;
	height:430px;
	font-weight:normal;
}

#input{
	width:100%;
}

input{
	width:256px;
	margin:0px;
	margin-left:20px;
	margin-right:24px;
	height:50px;
}

#keyboard #keys ul{
	margin:0px;
	margin-left:10px;
	padding:0px;
}

#keyboard #keys li{
	float:left;
	height:40px;
	list-style:none;
	width:40px;
	text-align:center;
	margin-left:10px;
	display:display;
	padding:0px;
}

#keyboard #keys li a{
	text-decoration:none;
	font-size:18px;
	color:black;
	margin:0px;
	padding:0px;
	overflow:hidden;
	width:100%;
}

#keyboard #keys li a:hover,#keyboard #keys #equal1 a:hover,#keyboard #keys #last a:hover,#keyboard #keys #m_minus a:hover,#keyboard #keys #gou a:hover,#keyboard #keys #percent a:hover,#keyboard #keys #x_dao a:hover,#keyboard #keys #minus a:hover,#keyboard #keys #jiantou a:hover{
	border:2px solid #FFCC33;
	background:#FFFF33;
}

#keyboard #keys #zero{
	width:94px;
}

#keyboard #keys #equal{
	height:86px;
	margin-right:12px;
	margin-left:0px;
	*margin-right:10px;

}

.nav{
	float:left;
	width:100%;
	height:10px;
	clear:both;
	overflow:hidden;
}

#last{
	float:left;
	margin:0px;
}

#keyboard #keys #equal1{
	float:right;
	line-height:86px;
}

#keyboard #keys #equal1 a{
	padding-top:32px;
	padding-bottom:32px;
	padding-left:15px;
	padding-right:15px;
	border:2px solid #cccccc;
	background:#CCCCFF;
	margin-left:-4px;
}

#keyboard #keys li{
	margin-top:2px;
}

#keyboard #keys .no1 a,#keyboard #keys .no2 a,#keyboard #keys #zero a,#keyboard #keys #point a,#keyboard #keys #plus a,#keyboard #keys .s1 a,#keyboard #keys .s2 a,#keyboard #keys #m_minus a,#keyboard #keys #gou a,#keyboard #keys #percent a,#keyboard #keys #x_dao a,#keyboard #keys #minus a,#keyboard #keys #jiantou a{
	border:2px solid #cccccc;
	background:#CCCCFF;
	line-height:36px;
	padding-left:14px;
	padding-right:15px;
	padding-top:7px;
	padding-bottom:7px;
}

#keyboard #keys .no2,#keyboard #keys #point,#keyboard #keys #plus,#keyboard #keys .s2,#keyboard #keys #m_minus,#keyboard #keys #gou,#keyboard #keys #percent,#keyboard #keys #x_dao,#keyboard #keys #minus{
	margin-left:14px;
}

#keyboard #keys #zero a{
	padding-left:43px;
	padding-right:42px;
}

#keyboard #keys .s1 a{
	padding-left:10px !important;
	padding-right:10px !important;
	padding-left:5px;
	padding-right:5px;
}

#keyboard #keys .s2{
	padding-right:-4px;
}

#keyboard #keys .s2 a{
	padding-left:5px\0;
	padding-right:5px\0;
	padding-left:10px;
	padding-right:10px;
}

#keyboard #keys #m_minus a{
	padding-left:9px;
	padding-right:9px;
}

#keyboard #keys #gou a{
	padding-left:10px;
	padding-right:9px;
}

#keyboard #keys #percent a{
	padding-left:15px;
	padding-right:14px;
	overflow:hidden;
}

#keyboard #keys #x_dao a{
	padding-left:6px;
	padding-right:5px;
}

#keyboard #keys #minus a{
	*float:left;
	*padding-top:2px;
	*padding-bottom:1px;
}

#keyboard #keys #jiantou a{
	padding-left:10px;
	padding-right:10px;
}
