body {
	margin:0;
	padding:0;
	line-height:1.5em;
	font-family: Verdana, Simsun, sans-serif;
	font-size: 12px;
	color: #000000;
	background:#1b9bd7;
	cursor:pointer;
}

h1 {
	margin:0px;
	padding:2px 0;
	font-size:30px;
	font-weight:bold;
}

h2{
	position:relative;
	height:25px;
	margin:0;
	padding:10px 0 0 0;
	font-size:20px;
	font-weight:bold;
	text-align:center;
}

h4{
	margin:0;
	padding:0 0 5px 0;
	font-size:14px;
	color:#ffffff;
	font-weight:bold;
}

a:link,a:visited{
	font-weight:normal;
	text-decoration:none;
	color:#0066cc;
}

a:hover, a:active{
	text-decoration:underline;
	color:#ff0066;
}

p{
	margin:0;
	padding:0;
	text-align:justify;
}

img{
	padding:0;
	margin:0;
	border:none;
}

.cleaner{
	clear:both;
	width:100%;
	height:0;
	font-size:0;
}

.cleaner_h10{
	clear:both;
	width:100%;
	height:10px;
}

.cleaner_h20{
	clear:both;
	width:100%;
	height:20px;
}

.cleaner_h30{
	clear:both;
	width:100%;
	height:30px;
}

#blog_head_wrapper{
	width:100%;
	height:110px;
	background:url(head.jpg) repeat-x;	
}

#blog_head_title{
	width:750px;
	height:110px;
	padding:0 90px;
	margin:0 auto;
	background:url(head.jpg) center no-repeat;
}

#site_title{
	width:250px;
	float:left;
	padding-top:30px;
	padding-bottom:10px;
}

#site_title h1 a{
	margin:0px;
	padding:0;
	font-size:36px;
	color:#000000;
	font-weight:normal;
	text-decoration:none;
}

#site_title h1 a span{
	display:block;
	margin-top:10px;
	font-size:14px;
	color:#000000;
}

#blog_menu_wrapper{
	width:100%;
	height:60px;
	background:url(templatemo_menu_bar_repeat.jpg) repeat-x;
}

#blog_menu{
	width:860px;
	height:60px;
	margin:0 auto;
	padding:0 50px;
	background:url(templatemo_menu_bar_bg.jpg) center no-repeat;
}

#blog_menu ul{
	width:750px;
	overflow:hidden;
	padding:15px 0 0 0;
	margin:0 auto;
	list-style:none;
}

#blog_menu ul li{
	margin:0px;
	padding:0px;
	display:inline;
}

#blog_menu ul li a{
	float:left;
	display:block;
	height:25px;
	width:100px;
	text-decoration:none;
	font-size:14px;
	padding: 5px 5px 0 0;
	margin:0 10px;
	text-align:center;
	font-weight:bold;
	color:#292922;
	outline:none;
}

#blog_menu li a:hover,#blog_menu li .current {
	position:relative;
	background:url(templatemo_menu_hover_right.png) right no-repeat;
}

#blog_menu li a:hover span,#blog_menu li .current span{
	position:absolute;
	top:0px;
	left:-5px;
	width:5px;
	height:30px;
	background:url(templatemo_menu_hover_left.png)  right no-repeat;
}

#blog_content_wrapper_outer{
	width:100%;
	background:url(templatemo_menu_bar_repeat.jpg) top repeat-x;
}

#blog_content_wrapper_inner{
	width:100%;
	margin:0 auto;
	background:url(templatemo_content_wrapper_outrer.jpg) center top no-repeat;
}

#blog_content_wrapper{
	width:960px;
	margin:0 auto;
	background:url(templatemo_content_bg.png) center repeat-y;
}

#blog_content{
	position:relative;
	width:780px;
	margin:0 auto;
	padding:40px 90px 0 90px;
	margin-bottom:15px;
	background:url(templatemo_content_wrapper_inner.jpg) center top no-repeat;
}

#blog_content .content_bottom{
	position:absolute;
	width:960px;
	height:15px;
	bottom:-15px;
	background:url(templatemo_content_bottom.png) no-repeat;
	left:0;
}

#main_column{
	float:left;
	width:450px;
}

#side_column{
	float:right;
	width:260px;
	padding:0 15px;
}

#main_column .post_box{
	clear:both;
	margin-bottom:50px;
}

.post_box h2{
	font-size:24px;
	color:#4f4f4f;
	padding:2px 0;
	margin-bottom:10px;
	text-align:left;
}

.post_box .post_info{
	width:100%;
	color:#666;
	background:#fffd41;
}

.post_box .post_info a:hover{
	color:#333;
}

.post_info .post_date{
	float:left;
	padding:2px 0;
	width:120px;
	text-align:center;
	background:#88b4fe;
}

.post_info .post_author{
	background:#71ddff;
	float:left;
	padding:2px 0;
	width:120px;
	text-align:center;
}

.post_info .post_comment {
	float: left;
	padding: 2px 0;	
	width: 120px;
	text-align: center;
	background: #88b4fe;
}

.post_box .post_body{
	clear:both;
	padding:30px 0 20px 0;
	background:url(templatemo_post_body_bg.png) top center no-repeat;
}

.post_body img{
	margin-bottom:15px;
	border:1px solid #ccc;
}

.post_body p{
	margin-bottom:10px;
}

.post_box .continue a{
	display:block;
	width:80px;
	padding:2px 0;
	text-align:center;
	color:#4c7fd4;
	font-weight:bold;
	background:#dfe0e1;
	border-left:5px solid #88befe;
}

#side_column .ads_250_250{
	border:5px solid #ccc;
}

#side_column .side_column_section{
	clear:both;
	width:260px;
}

.ads_125_125{
	float:left;
	width:125px;
	height:125px;
	margin:0 0 10px 0;
}

.right_padding_10{
	margin-right:10px;
}

.recent_post{
	color:#747474;
	margin-bottom:5px;
	padding-bottom:5px;
	border-bottom:1px solid #ccc;
}

.recnt_post h4 a{
	font-size:12px;
	color:#3fa7d8;
	font-weight:bold;
}

.recent_post h4 a:hover{
	text-decoration:none;
	color:#ff0066;
}

.side_column_section ul{
	margin:0;
	padding:0;
	list-style:none;
}

.side_column_section li{
	margin:0 0 3px 0;
	padding:0;
}

.side_column_section li a{
	display:block;
	width:240px;
	padding:2px 10px;
	color:#666;
	outline:none;
	background:#a0c3ff;
}

.side_column_section li a:hover{
	background:#d9ee9f;
	text-decoration:none;
}

#blog_footer_wrapper{
	width:100%;
	background:url(templatemo_footer_wrapper.jpg) bottom repeat-x;
}

#blog_footer{
	width:860px;
	min-height:180px;
	margin:0 auto;
	padding:50px;
	color:#d9dcc6;
	background:url(templatemo_footer_bg.jpg) center bottom no-repeat;
}

.section_w860{
	text-align:center;
	width:920px;
}

.section_w860 a{
	color:#ffffff;
}

.section_w200{
	float:left;
	width:180px;
	padding:0 20px 0 0;
}

.section_w260{
	float:left;
	width:260px;
	padding:0 0 0 0;
}

.footer_menu_list{
	margin:0;
	padding:0;
	list-style:none;
}

.footer_menu_list li{
	margin:0;
	padding:0;
}

.footer_menu_list li a{
	color:#d9dcc6;
	font-weight:normal;
	text-decoration:none;
}

.footer_menu_list li a:hover{
	color:#ffffff;
	text-decoration:none;
}

.p_unnamed{
	width:88px;
	border:0;
	height:31px;
}

